*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100%;
  font-family: arial, sans-serif;
}

.banner {
  padding-top:1rem ;
  width: 200px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputField {
  font-size: 1.5rem;
  border-radius: 5px;
  margin: 0 auto;
  border: none;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
  background: #fff;
  min-height: 44px;
  display: flex;
  border: 1px solid transparent;
}
/* remove outline from all divs */
*:focus {
  outline: none;
}

.topBar {
  font-size: 2rem;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 2rem;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}

.productsImg{
  height:200px;
  width:200px;
  border-radius:10px;
  border:4px solid white;
  object-fit: cover;
  background-image: none;
  mix-blend-mode: multiply;
  margin: 1rem 5rem;
  box-shadow: 5px 5px 10px 2px lightgray;
      /* Animation */
  transition: transform 1s;
}

.productsImg:hover {
  transform: scale(105%);
  border: 4px solid white;
}

.footer{
  margin-top: 2rem;
  padding-top: 2rem;
  background-color: black;
  line-height: 1rem;
  color: white;
  display: grid;
  grid-template-columns: auto auto;
  margin-left: auto;
  margin-right: auto;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.icons a {
      /* Animation */
  transition: transform .2s;
  /* animation-name: bounce; */
}

.icons a:hover {
  transform: scale(110%);
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.socials h5 {
  padding-bottom: 2rem;
}

.socials h5 {
  padding-bottom: 2rem;
}

.contacts h5 {
  padding-bottom: 2rem;
}

.developer a{
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  background-color: black;
}

.contact-info a {
  color: white
}

/* When the screen size is 768px or bigger */
@media screen and (min-width: 768px) {
  .banner{
    width: 800px;
    padding-top:1rem ;
  }
}

/* When the screen size is 370px or smaller */
@media screen and (max-width:570px){
.footer{
  display: block;
}

.contacts {
  margin-top: 2rem;
}
}

/* When the screen size is 370px or smaller */
@media screen and (max-width:370px) {
  .inputField {
    max-width: 150px;
    font-size: 15px;
  }

  .banner{
  width: 190px;
  }
  .productsImg {
    height: 100px;
    width: 100px;
    border: 2px solid white;
      box-shadow: 2px 2px 5px 1px lightgray;
  }
}